.nav-pills li a:hover {
    background-color: #8583FF;
}
.btn:hover{
    background-color: white;
}
.strong-blue {
    background-color: #8583FF;
}

.light-blue {
    background-color: #F1F7FA;
}
.color-blue {
    color: #8583FF;
}
#list a:hover{
    background-color: gray;
}
.strong-red{
    color: #CB0A0A  ;
}
.strong-orange{
    color: #F4671F;
}
.strong-green{
    color :#07C703;
}
