* {

    margin: 0;

    padding: 0;

}


header, main, footer, nav, aside, section, div  {

    display: block;

}



body {

    background-color: #E8C59C;

}



header {

    height: 130px;
    padding-top: 1px;  
    background-color: greenyellow; 

}



#logo {

    display: block;

    background: url("../images/big-bang-theory-logo.png");

    background-repeat: no-repeat;

    background-size: cover;

    height: 118px;

    width: 306px;

    margin-top: 6px;

    margin-left: 8px;

}



#wrapper {

    width: 1400px;
    margin: 0 auto;
    margin-top: 6px;

}



section#content {

    background: url("../images/big-bang-theory-bg.png");

    background-repeat: no-repeat;

    background-size: cover;

    height: 700px;

    padding-top: 1px;

    margin-bottom: 70px;

    border-radius: 5px;

}

#aside-and-boxes{
    display: flex;
    justify-content: space-between;
    
}

aside {

    height: 607px;

    width: 377px;

    background-color: palevioletred;  /* #E8C59C; */

    opacity: 0.5;
    margin-left: 8px;
    margin-top: 8px;

}



main {

    height: 615px;
    width: 616px;
    background-color: teal; /* Transparent */
    /* margin-top: 8px;
    margin-right: 8px; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}



footer {

    height: 69px;
    width: 1384px;
    background-color: black;  /* #E8C59C; */
    opacity: 0.5;
    margin-left: 8px;
    margin-top: 8px;

}



/* Inside main */



main > section {

    background-color: #E8C59C;
    height: 100px;
    width: 300px;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 8px;
    display: flex;


}



main > section > img  {

    height: 87px;
    width: 130px; 
    margin-top: 7px;
    margin-left: 5px;

}



main > section > p  {

    color: #ffffff;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-left: 8px;

}



.play-button {

    background: url("../images/movie-player-button.png");
    height: 28px;
    width: 28px;
    position: absolute;
    margin-top: 36px;
    margin-left: 56px;

}



@media (max-width: 1420px){
    aside,footer{
        display: none;
    }
}


