* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

.navbar-dark .navbar-brand {
    color: #E50914;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #E50914; 
}

body {
    background-color: #000;
}

.btn.btn-netflix {
    color: #fff;
    border-color: #E50914;
}

.card {
    width: 450px;
    margin-top: 20px;
    margin-left: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card img {
    height: 250px;
}


















